@using Elektrodistribucija.Web.Areas.AdministratorModul.ViewModels;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";

}
@model AdminInfoVM
 
<br/>
<div class="info" style="width: 250px; float:left;">
<h3>Broj korisnika sistema</h3>
<div class="card" >
    <label>@Model.BrojKorisnika</label>
</div>
</div>
<div class="info" style="width: 250px; float:left;">
    <h3>Broj klijenata</h3>
    <div class="card">
        <label>@Model.BrojKlijenata</label>
    </div>
</div>
<div class="info" style="width: 250px; float:left;">
    <h3>Broj prikljucaka</h3>
    <div class="card">
        <label>@Model.BrojPrikljucaka</label>
    </div>
    <br />
</div>
<div class="info" style="width: 250px; float:left;">
    <h3>Broj direkcija</h3>
    <div class="card">
        <label>@Model.BrojDirekcija</label>
    </div>
    <br />
</div>

</div>
